{% extends 'layout.html' %}
{% block body %}
    
<style>
  .kandidati { display: flex; flex-wrap: wrap; position: relative; }
  .kandidati > .person { flex: 1 1 40%; margin: 1em 1em; }
  .kandidati > .person:first-child { flex: 1 1 100%; margin-bottom: -1em; }

  .person img { float: left; width: 50%; min-width: 100px; max-width:364px; padding: 1em 2em 1em 1em;}
  .person > .name { margin: 1.5em 0.5em 0em;  font-size: 1.4em; font-family: "Bebas Neue"; font-weight:bold; color: #1a1a1a; }
  .person > .subtitle { font-family: "Bebas Neue"; font-weight: 300; color: #212121; letter-spacing: 1px; line-height: 1.1em; font-size: 0.9em; }
  .person > .desc { margin: 1em 0 0 50%; font-style: italic; }
  .person:first-child > .desc { margin: 1em 0 0 0; }
  .person > .desc > li { padding: 0 0 0 0.5em; }

  .person.celo img { float: left; width: 50%; min-width: 100px; max-width:364px; padding: 1em;}
  .person.celo > .name { font-size: 1.7em; }

  .header-cols { display: flex; }
  .header-cols .hc-left { flex: 1 1 65%; }
  .header-cols .hc-right { flex: 1 1 30%; margin: 1em; border:1px solid black; padding: 0.5em; margin-top: 2em; }
  .header-cols .hc-right .act-btn {text-align: right; margin-top: 0.25em; margin-bottom:1em;} 
  .header-cols .hc-right .act-btn .action-button { padding: 0.25em 1em; margin: 0; margin-right: 1em;} 

  .ilustr-img { float: right; width: 450px; margin: 0 0 1.5em 1.5em; }

  @media screen and (max-width: 25em) {
      .kandidati > .person > .subtitle { clear: both; text-align: center; }
  }
  @media screen and (max-width: 40em) {
      .kandidati > .person { flex: 1 1 100%; }
      .kandidati > .person > .name { font-size: 1.5em; margin-top: 1.5em; }
      hr { display: none }
      .ilustr-img { float: none; margin-top: 1em; }
  }
  @media screen and (max-width: 75em) {
      .kandidati > .person { flex: 1 1 100%; margin-top: 2em;}
      .kandidati > .person > .name { font-size: 1.5em; }
      .kandidati > .person > .desc { margin: 1em 0 0 0;} 
      hr { display: none }
      .header-cols { display: block; }
  }

  table.okd-t {
      padding:0;
      margin:0;
      cursor: pointer;
  }

  .okd-t td { vertical-align: top; }
  .okd-t .date { width: 6.5em; font-weight: bold; text-align: right; }
  .okd-t .kind { width: 2em; text-align: center; white-space: nowrap; }
  .kind-letter { display: inline-block; width: 1.5em; margin: 0em 0.2em; text-align: center;
                  text-transform:uppercase; font-weight: bold; color: white; }
  .kind-letter.kind-b { background-color: red;  }
  .kind-letter.kind-m { background-color: green;  }
  .kind-letter.kind-v { background-color: blue;  }
  .okd-t .info-src { font-variant: italic; display: inline-block; margin: 0 0.5em; }

  .okd-t .detail { display: none; }
</style>

{% block header_desc %}{% endblock %}


<p style="text-align: left;">Přehled časové souslednosti jednotlivých událostí, kterými se Vyšetřovací komise zabývala.

<img src="/static/img/budova-okd.jpg" class="ilustr-img"/>

<p>Události jsou rozděleny do tří skupin, jejichž zobrazení lze přepínat:<br/>
<label><input type="checkbox" id='okd-kind-b' checked="checked"><span class="kind-letter kind-b">B</span> - Kauza Bytů OKD</label>
<label><input type="checkbox" id='okd-kind-m' checked="checked"><span class="kind-letter kind-m">M</span> - Majetkové a vlivové poměry OKD</label>
<label><input type="checkbox" id='okd-kind-v' checked="checked"><span class="kind-letter kind-v">V</span> - Vyšetřování a posuzování kauzy OKD</label>
<label><input type="checkbox" id='okd-detail-all'>Zobrazit všechny detaily</label>
</p>


<p>Kliknutím na řádek události je možno zobrazit detailní popis a zdroj.<br/>

{% for obj in [
[
  '1.11.1990',
  'Vyčlenění majetku z OKD s.p.',
  'Ze státního podniku OKD byl vyčleněn Důl československé mládeže, který se o 3 roky později stal součásti společnosti Českomoravské doly, a.s.. Důvody tohoto vyčlenění nebyly veřejně racionálně vysvětlené a policie se později opakovaně zabývala možným tunelováním tohoto majetku.',
  ['m',],
  'https://or.justice.cz/ias/ui/rejstrik-firma.vysledky?subjektId=417851&typ=UPLNY',
],
[
  '29.12.1990',
  'Zánik OKD, s.p.',
  'Na základě rozhodnutí ministra hospodářství ČSFR Vladimíra Dlouhého ze dne 29. 12. 1990 byl zrušen bez likvidace státní podnik OKD, ze kterého následně byla zřízena akciová společnost Ostravsko-karvinské doly, akciová společnost (OKD, a.s.).',
  ['b','m',],
  'https://www.mfcr.cz/cs/o-ministerstvu/sluzby-verejnosti/informacni-kancelar/seznam-podanych-zadosti/2010/zadost-o-poskytnuti-informaci-18995',
],
[
  '21.1.1991',
  'Vznik OKD, a.s.',
  'Dne 21.1.1991 vznikla společnost Ostravsko-karvinské doly, akciová společnost (později přejmenovaná na “OKD, a.s.” se základním kapitálem cca 31 miliard Kč. Do nově vzniklé akciové společnosti byl vložen veškerý majetek zrušeného státního podniku včetně Bytů OKD. Tento krok mohl být v rozporu s tehdy platnými zákony, neboť byty nebyly součásti podnikání OKD, a.s. a mohly být převedené na stát či obce stejně jako v jiných analogických případech.',
  ['m',],
  'https://or.justice.cz/ias/ui/rejstrik-firma.vysledky?subjektId=521045&typ=UPLNY',
],
[
  '15.2.1993',
  'Vyčlenění 3,5 miliardy Kč za úkor podílu státu',
  'Dne 15.2.1993 na poradě ministra pro správu národního majetku a jeho privatizaci - Jiřího Skalického - padlo rozhodnutí o vyčlenění 3,5 miliardy Kč do zvláštního fondu na úkor státu.',
  ['m',],
  '',
],
[
  '24.2.1993',
  'Vznik společnosti Českomoravské doly, a.s.',
  'Dne 24.2.1993 vznikla společnost Českomoravské doly, a.s.. Jediným akcionářem a zakladatelem byl FNM. Předsedou představenstva byl zvolen Viktor Koláček, členy představenstva Jan Przybyla a Petr Otava.Majetkem této společnosti byl nejenom důl ČSM, ale i Důl Kladno a Důl Tuchlovice.',
  ['m',],
  'https://or.justice.cz/ias/ui/rejstrik-firma.vysledky?subjektId=417851&typ=UPLNY',
],
[
  '11.10.1993',
  'První vlna privatizace OKD, a.s.',
  '"Ministerstvo pro správu národního majetku a jeho privatizaci (MSNMP) vydalo na základě privatizačního projektu č. 40017 rozhodnutí o privatizaci majetkové účasti státu na podnikání OKD, a. s. Základní kapitál společnosti byl nově stanoven na cca 28 miliard Kč. Na základě tohoto rozhodnutí vznikla nová vlastnická struktura OKD, a.s.:kupónová privatizace - 40 %Restituční investiční fond - 3 %Nadační investiční fond - 1 %oprávněné osoby - 0,01 %bezúplatný převod na 12 měst a obcí regionu - 3 %Revírní bratrská pokladna - 1 %dočasné ponechání na FNM ČR - 51,99 %"',
  ['m',],
  'https://www.mfcr.cz/cs/o-ministerstvu/sluzby-verejnosti/informacni-kancelar/seznam-podanych-zadosti/2010/zadost-o-poskytnuti-informaci-18995',
],
[
  '28.5.1996',
  'Snížení kapitálu OKD, a.s. a snížení podílu státu',
  'Dne 28.5.1996 Ministerstvo pro správu národního majetku a privatizaci vedený Jiřím Skalickým (ODA) souhlasilo s tím, že část akcií FNM odkoupí za korunu OKD, a.s. Ministerstvo vydalo toto rozhodnutí měsíc před svým zánikem.',
  ['m',],
  'Zpráva auditora o ověření účetní závěrky za rok 1996',
],
[
  '7.6.1996',
  'VH OKD, a.s. potvrzuje snížení základního kapitálu',
  'Valná hromada společnosti OKD, a.s. potvrdila snížení kapitálu o 3,5 miliardy Kč z “důvodu zreálnění majetku společnosti”. Tento krok předpokládal privatizační projekt OKD, a.s.. Nutno dodat, že toto rozhodnutí nabylo právní moci až v roce 1997.',
  ['m',],
  'Zpráva auditora o ověření účetní závěrky za rok 1997',
],
[
  '31.12.1996',
  'Podíly v OKD, a.s.',
  '"Po 2 vlnách kuponové privatizace byla struktura akcionářů společnosti OKD, a.s. k poslednímu dni roku 1996 následující:FNM - 45,9 %Investiční fondy + společnosti z 2. vlny kuponové privatizace - 16,7 %Individuální investoři z 2. vlny kuponové privatizace - 22,8 %Restituční investiční fond - 5,4 %Obce - 4,6 %Ostatní právnické osoby - 4,6 %"',
  ['m',],
  'Zpráva auditora o ověření účetní závěrky za rok 1996',
],
[
  'Léto 1997',
  'Odkup podílu Restitučního investičního fondu',
  'Společnost Prosper Trading, a.s. vykupovala akcie individuálních investorů či obcí a v létě 1997 vykoupila akciový podíl OKD, a.s. od státem založeného Restitučního investičního fondu. Stalo se to i díky tomu, že stát svěřil správu tohoto fondu skupině IPB, která rozhodla o prodeji těchto akcií společnosti Prosper Trading, a.s., kterou papírově řídil Stanislav Pros. Nutno ovšem dodat, že Stanislav Pros pravděpodobně byl pouhým prostředníkem těchto aktivit.',
  ['m',],
  'https://iuhli.cz/komise-k-okd-ceka-jeste-na-15-svedku/',
],
[
  '31.12.1997',
  'Nové vlastnické vztahy v OKD.',
  '"Další vývoj byl důsledkem silného postavení minoritních akcionářů a naopak pochybného hájení zájmu státu. Po tom, co došlo k účetnímu snížení kapitálu o 3,5 miliardy Kč (duben 1997), a proběhla řada dalších transakcí, se akcionářská struktura OKD, a.s. změnila do této podoby:FNM - 45,88 %IPB Real Investment, s.r.o. - 18,36 %Fyzické osoby - 12,93 %Obchodníci s cennými papíry - 4,95 %Obce - 4,66 %Ostatní právnické osoby - 12,6 %Ostatní: 0,62%"',
  ['m',],
  'Zpráva auditora o ověření účetní závěrky za rok 1997',
],
[
  'První polovina 1998',
  'Ztráta kontroly státu nad OKD, a.s.',
  'Nejviditelnějším hráčem v majetkových vztazích OKD, a.s. se stává Stanislav Pros se svoji společností Prosper Trading, a.s., který získal akcie nejenom od Restitučního a investičního fondu, ale oslovil další akcionáře a investory včetně měst a obcí s nabídkou koupě jejich akcií společnosti OKD, a.s..',
  ['m',],
  'Zpráva auditora o ověření účetní závěrky za rok 1998',
],
[
  '18.3.1998',
  'ČSSD požádala o odvolání Romana Češky',
  'Poslanecký klub ČSSD požádala prezidium Fondu národního majetku, aby odvolalo výkonný výbor fondu včetně jeho předsedy Romana Češky. ČSSD dále uvedla, že pokud prezidium na výzvu ČSSD nebude reagovat, navrhnou odvolání samotného prezidia fondu sněmovnou. Uvedl to tehdejší předseda klubu ČSSD Stanislav Gross.',
  ['m',],
  'ČTK 18.3.1998',
],
[
  '20.3.1998',
  'Oslovení měst a obcí ze strany FNM',
  'Předseda výkonného výboru FNM Roman Češka oslovil všechna města a obce s žádosti o setkání s nabídkou odkoupení akcií OKD, a.s.. FNM reagoval na situaci, kdy města a obce byly oslovené společnosti Eurobrokers, a.s. (provázaná se Stanislavem Prosem) se zájmem o odkup akcií. V dopise Roman Češka upřímně uvedl i výhrady směrem k vedení OKD, a.s. slovy: “Máme řadu výhrad k dnešnímu managementu společnosti, které chceme prověřit a na mimořádné valné hromadě při spolupráci s vámi rozhodnout o způsobu jejich řešení”. Pokud by města a obce prodaly své akcie FNM, tak by stát prostřednictvím FNM opět získat v OKD, a.s. většinu a rozhodující vliv.',
  ['m',],
  'Dopis FNM adresován představitelům měst a obcí z 20.3.1998.',
],
[
  '31.3.1998-1.4.1998',
  'Setkání FNM se zástupci měst',
  'Ve dnech 31.3.1998 a 1.4.1998 proběhlo setkání v Ostravě a Havířově předsedy výkonného výboru FNM Romana Češky se zástupci měst a obcí, kteří drželi akcie v OKD, a.s.. FNM nabídlo městům a obcím odkup těchto akcií za cenu vyšší, než jim nabízeli soukromníci či spekulanti. Dvě z těchto měst již prodej společnosti Eurobrokers, a.s. v době setkání podepsala. Další města a obce již měly návrh smlouvy od společnosti Eurobrokers, a.s., a proto závěrem tohoto setkání bylo, že FNM bude konat směrem k obcím urychleně.',
  ['m',],
  'https://www.mfcr.cz/cs/o-ministerstvu/sluzby-verejnosti/informacni-kancelar/seznam-podanych-zadosti/2018/zadost-o-poskytnuti-informaci-ve-smyslu-32845',
],
[
  '2.4.1998',
  'Prodej akcií společnosti Eurobrokers, a.s.',
  'Dne 2.4.1998 zastupitelé města Havířova schválili prodej akcií OKD, a.s. společnosti Eurobrokers, a.s., ačkoliv měli nabídku i od FNM. Obdobně postupovala i ostatní města včetně Ostravy.',
  ['m',],
  'Rovnost, 4.4.1998',
],
[
  '20.8.1998',
  'Posílení pozice Viktora Koláčka v Českomoravských dolech, a.s.',
  'Dne 20.8.2018 se uskutečnila mimořádná valná hromada společnosti K.O.P., a.s., která držela rozhodující akcionářský vliv ve společnosti Českomoravské doly, a.s.. Během této valné hromady bylo schválené rozhodnutí o nové emisí akcií a posílení vlivu Viktora Koláčka, Jana Przybyla a dalších přitomných.',
  ['m',],
  'Notářský zápis z mimořádné valné hromady K.O.P., a.s. 20.8.2018',
],
[
  '25.8.1998',
  'OKD v rukách ČSSD',
  'Krátce po vzniku vlády Miloše Zemana (na základě opoziční smlouvy) proběhly rozsáhlé personální změny ve vedení OKD, a.s. a například počínaje 25.8.1998 se místopředsedou představenstva OKD, a.s. stal Vladislav Schrom.',
  ['m',],
  'https://or.justice.cz/ias/ui/rejstrik-firma.vysledky?subjektId=521045&typ=UPLNY',
],
[
  '16.10.1998',
  'Rezignace šéfa FNM',
  'Předseda výkonného výboru FNM Roman Češka rezignoval na svoji funkci. Stalo se tak po intenzivním tlaku ze strany politiků - zejména z řad ČSSD. Do orgánů prezidia byly zvolené osoby úzce spjaté s ČSSD.',
  ['m',],
  'články z 16.10.1998 - MF DNES, Plzeňský deník',
],
[
  'Druhá polovina 1998',
  'Podivné transakce mezi Prosper Trading, a.s. a Karbon Invest, a.s.',
  'Následně dochází k několika transakcím v krátkém časovém intervalu. Nejdříve společnost Prosper Trading Stanislava Prose získaly úvěr 2,5 miliard Kč od skupiny IPB a odkoupily společnost K.O.P., a.s. vlastnící Českomoravské doly, a.s. Následně Viktor Koláček a Petr Otava posílili částkou 2,4 miliard Kč společnost Karbon Invest, a.s., která zakoupila společnost Prosper Trading za 1,4 miliard Kč a získala tak rozhodující vliv ve společnosti OKD, a.s. i Českomoravských dolech, a.s..',
  ['m',],
  'NUTNÝ lepší zdroj https://rozhled.org/2017/06/06/okd-prvni-faze-privatizace/',
],
[
  '31.12.1998',
  'Majoritní postavení Karbon Invest, a.s.',
  'Do majetkových transakcí se zapojila společnost Karbon Invest, a.s. ovládaná Viktorem Koláčkem, Petrem Otavou a Janem Przybylou. Během tohoto roku proběhla série majetkových změn mezi společnosti Prosper Trading, a.s. a společnosti Karbon Invest, a.s. a na konci roku 1998 společnost Karbon Invest, a.s. kontrolovala již 48,5% akcií zatímco stát prostřednictvím Fondu národního majetku pouze 45,88% akcií.',
  ['m',],
  'Zpráva auditora o ověření účetní závěrky za rok 1998',
],
[
  '31.12.2000',
  'Zvýšení podílu Karbon Investu, a.s. v OKD, a.s.',
  'Dle výroční zprávy za rok 2000 se k 31.12.2000 zvýšil podíl společnosti Karbon invest, a.s. ve společnosti OKD, a.s. na 49,225%, podíl FNM zůstal na 45,883%. Zbylou část akcií drželi drobní akcionáři.',
  ['m',],
  'https://or.justice.cz/ias/ui/vypis-sl-detail?dokument=15013617&subjektId=521045&spis=816352',
],
[
  '5.6.2002',
  'Vláda udělila exkluzivitu společnosti LNM Holdings',
  'Vláda ČR ve svém usnesení z 5.6.2002 na šest měsíců udělila exkluzivitu nizozemské společnosti LNM Holdings na předložení nabídek na koupi 99 % akcií Vítkovice Steel a 46% podílu OKD, a.s..',
  ['m',],
  'https://www.msk.cz/cz/usneseni-vlady-587p-10849/',
],
[
  '18.6.2002',
  'Valná hromada OKD - odvolání zástupců FNM',
  'Dne 18.6.2002 proběhla valná hromada OKD, a.s., po které FNM značně ztratil svůj již tak omezený vliv. Společnost Karbon Invest, a.s. totiž prosadila převolení orgánů OKD, a.s. a prakticky všechny zástupci FNM byli odvolání. Tento krok byl vnímám jako odvetu za to, že zástupci státu schválili exkluzivitu v prodeji svého podílu společnosti LNM Holdings.',
  ['m','v',],
  '"Notářský zápis ze dne 18.6.2002https://or.justice.cz/ias/ui/vypis-sl-detail?dokument=15013648&subjektId=521045&spis=816352"',
],
[
  '16.8.2002',
  'Mimořádná Valná hromada OKD',
  'Majoritní vlastník OKD, a.s. - společnost Karbon Invest, a.s. - odmítl všechny návrhy, které na mimořádné valné hromadě OKD, a.s. představil Fond národního majetku. Požadoval například změnu stanov, která by umožnila hloubkovou kontrolu ve firmě OKD, a.s.. Zástupci Karbon Investu, a.s. ovšem hloubkovou kontrolu odmítli.',
  ['v',],
  'https://or.justice.cz/ias/ui/vypis-sl-detail?dokument=15013646&subjektId=521045&spis=816352',
],
[
  'srpen 2002',
  'Pokuta pro Správu majetku OKD',
  'Správa majetku OKD dostala od Finančního úřadu pokutu za to, že v letech 1998, 1999 a 2000 při výpočtu plateb nájemníkům za studenou vodu a za stočné porušovala cenové předpisy. Správa majetku OKD se navíc soudila s dalšími nájemníky kvůli platbám za teplo, kteří ovšem argumentovali posudkem soudního znalce dokládající, že Správa majetku při výpočtu opět chyboval.',
  ['b','v',],
  'MF DNES, 6.9.2002',
],
[
  '30.9.2002',
  'Ministr Rusnok varoval LNM Holdings před koupi podílu v OKD',
  'Ministr průmyslu a obchodu Jiří Rusnok se pokusil odradit LNM Holdings od podání nabídky na koupi státního podílu ve společnosti OKD, a.s. Novinářům mimo jiné uvedl: "Varoval jsem LNM, že to bude velmi obtížné a ať se raději do toho nepouštějí".',
  ['m',],
  'Moravskoslezský deník, 30.9.2002',
],
[
  '18.12.2002',
  'LNM Holdings nepodala nabídku',
  'Fond národního majetku potvrdil, že nizozemská společnost LNM Holdings nakonec nepodala nabídku na koupi státního podílu ve společnosti OKD? a.s.',
  ['m',],
  'Moravskoslezský deník, 19.12.2002',
],
[
  '28.11.2003',
  'Zatčení Viktora Koláčka a Jana Przybyly.',
  'Policie zatkla Viktora Koláčka a Jana Przybylu, kteří působili v orgánech společnosti OKD, a.s. a zároveň spoluvlastnili Karbon Invest, a.s. Obvinění byli ze zneužití informací ve veřejném styku ve prospěch firmy Karbon Invest, a.s.. Dle policie uzavírat měli nevýhodné smlouvy, které měly připravit OKD, a.s. a Česmomoravské doly, a.s. až o 1,5 miliardy Kč.',
  ['v',],
  'ČTK, 29.11.2003',
],
[
  '29.11. - 1.12. 2003',
  'Propuštění Viktora Koláčka a Jana Przybyly',
  'Policie obvinila dne 29.11.2003 rovněž Petra Otavu (taktéž člena orgánů OKD, a.s. a zároveň spolumajitele společnosti Karbon Invest, a.s.). Po výslechu ovšem všechny 3 osoby propustila. Následně státní zástupce Karel Kalda připustil, že obviněné osoby mohou být stíháné i z dalších možných trestných činů. Tehdejší premiér Vladimír Špidla oznámil, že nastalá situace může údajně ohrozit prodej státní účasti v OKD, a.s..',
  ['v',],
  'ČTK, 29.11.2003',
],
[
  '17.12.2003',
  'Státní zástupce potvrdil opodstatněnost trestního stíhání',
  'Státní zástupce Karel Kalda sdělil, že trestní stíhání Viktora Koláčka, Petra Otavy a jana Przybyl je opodstatněné. Stížnosti obviněných zamítl.',
  ['v',],
  'https://byznys.ihned.cz/c1-37571830-soud-osvobodil-uhlobarony-otavu-a-kolacka-v-kauze-tunelovani-okd',
],
[
  '24.1.2004',
  'Státní zástupce potvrdil další obvinění',
  'Státní zástupce Karel Kalda veřejně potvrdil deníku Právo, že Viktor Koláček a Petr Otava byli obvinění z dalšího trestního činu, a to zkreslování údajů o stavu hospodaření v souvislosti s navýšením základního kapitálu Karbon Investu (tedy mateřské společnosti OKD, a.s.).',
  ['v',],
  'Právo, 24.1.2004',
],
[
  '30.1.2004',
  'Odstoupení Viktora Koláčka',
  'Viktor Koláček dne 30.1.2004 ukončil své působení na pozici předsedy představenstva OKD, a.s.. Vyloučil přitom, že by se jednalo o reakci na své trestní stíhání. Nutno ovšem dodat, že z pozice akcionáře skrze společnost Karbon Invest, a.s. byl jeho vliv významný.',
  ['m',],
  'https://or.justice.cz/ias/ui/rejstrik-firma.vysledky?subjektId=521045&typ=UPLNY',
],
[
  '16.9.2004',
  'Prodej podílu státu ve společnosti OKD, a.s.',
  'Vláda schválila prodej 45,88% akciového podílu ve společnosti OKD za 4,1 mld. Kč společnosti Karbon Invest, a.s.. Představitelé společnosti Karbon Invest, a.s. zároveň představili celou řadu slibů včetně toho, že tato společnosti bude „nabízet prodej bytů přednostně dosavadním nájemcům“.',
  ['m',],
  'https://www.mfcr.cz/cs/aktualne/tiskove-zpravy/2004/2004-09-16-tiskova-zprava-6305-6305',
],
[
  '9.11.2004',
  'Rozhodující vliv ve společnosti OKD, a.s. získal Zdeněk Bakala',
  'Dne 9.11.2004 během tiskové konference oznámil Zdeněk Bakala, že jeho společnost Charles Capital, a.s., kterou získal prostřednictvím kyperské společnosti RPG Industries Ltd., získala více než dvoutřetinový podíl ve společnosti Karbon Invest, a.s.. Je nanejvýš pravděpodobné, že tato majetková transakce byla dohodnuta mnohem dřív, když probíhala dohoda na prodeji 45,88% akcií státu v OKD, a.s.. Cena transakce se odhaduje na 10 miliard Kč.',
  ['m',],
  'https://www.idnes.cz/ekonomika/domaci/soud-zastavil-stihani-byvalych-sefu-okd.A070514_152502_ekonomika_spi',
],
[
  '27.1.2005',
  'Společnost Penta Finance podala Evropské komisi stížnost na privatizaci OKD',
  'Společnost Penta Finance podala dne 27.1.2005 Evropské komisi stížnost z důvodu pochybné privatizace OKD, a.s. v předcházejícím roku. Sama totiž neúspěšně usilovala o zakoupení státního podílu v OKD, a.s.. Evropská komise ovšem tuto stížnost vyhodnotila jako nedůvodnou.',
  ['v',],
  'https://archiv.ihned.cz/c1-15564880-penta-napadla-prodej-okd',
],
[
  '8.2.2005',
  'Slib Zdeňka Bakaly nájemníkům bytů OKD',
  'Zdeněk Bakala nájemníkům bytů slíbil, že do 3 let budou vědět, jak si budou moct přednostně svůj byt odkoupit. Pro Českou televizi dne 8.2.2005 sdělil: „Za tři roky budete vědět, jakým způsobem a kdy si ten byt můžete koupit.“',
  ['b',],
  '"https://www.ceskatelevize.cz/ivysilani/1142743803-reporteri-ct/217452801240025/titulky (12min 35s)"',
],
[
  '15.2.2005',
  'Mluvčí Karvon Invest potvrdil slib Zdeňka Bakaly',
  'Mluvčí společnosti Karbon Invest Jiří Hrabovský potvrdil slib Zdeňka Bakaly o přednostním odkoupením bytů a pro Českou televizi uvedl: „Tyto byty mají být prodávány v rozmezí 30 000 až 50 000 Kč za bytovou jednotku.“',
  ['b',],
  'https://www.ceskatelevize.cz/ivysilani/1142743803-reporteri-ct/217452801240025/titulky',
],
[
  'červen 2006',
  'Podání obžaloby',
  'Ostravská pobočka Vrchního státního zastupitelství podala obžalobu na Viktora Koláčka, Petra Otavu a Jana Przybylu',
  ['v',],
  'https://byznys.ihned.cz/c1-37571830-soud-osvobodil-uhlobarony-otavu-a-kolacka-v-kauze-tunelovani-okd',
],
[
  '14.9.2006',
  'Fúze společností a vznik RPG Industries SE',
  'V polovině září byla dokončena fúze několika společností (Charles Capital, Karbon Invest, RPG Industries Limited), na základě které vznikla společnost RPG Industries SE. která má několik dceřiných skupin, mezi nimi i RPG Real Estate, kam jsou převedeny i byty.',
  ['m',],
  'https://www.okd.cz/cs/media/tiskove-zpravy/rpg-dokoncilo-restrukturalizaci-skupiny-okd?FfArticleItem_page=58',
],
[
  '31.10.2006',
  'Přesunutí případu',
  'Na návrh obžalovaných se kauza OKD kvůli možné podjatosti soudců přesunula z Ostravy do Hradce Králové.',
  ['v',],
  'd.cz/c1-37571830-soud-osvobodil-uhlobarony-otavu-a-kolacka-v-kauze-tunelovani-okd',
],
[
  '14.5.2007',
  'Zastavení stíhání.',
  'Krajský soud v Hradci Králové zastavil trestní stíhání Viktora Koláčka, Petra Otavy a Jana Przybyly. Podle senátu soudu nebyla naplněna skutková podstata žalovaných trestných činů.',
  ['v',],
  'https://www.idnes.cz/ekonomika/domaci/soud-zastavil-stihani-byvalych-sefu-okd.A070514_152502_ekonomika_spi',
],
[
  '29.8.2008',
  'Odvolání slibu ze strany Zdeňka Bakaly',
  '"Zdeněk Bakala veřejně sdělil, že byty OKD nakonec nemá v úmyslu prodávat. Vysvětlil to těmito slovy:""Bytový fond není možné prodat, protože lidé nemají v době hypoteční krize přístup k penězům. V drtivé většině by si museli půjčit od bank, které tvrdí, že nákup tolika nemovitostí není možný."""',
  ['b',],
  'https://zpravy.aktualne.cz/ekonomika/ceska-ekonomika/miliardar-bakala-byty-najemnikum-neprodame/r~i:article:615128/',
],
[
  'Prosinec 2008',
  'Petice majitelů bytů OKD',
  'Zhruba 13 tisíc nájemníků bytů ve své petici vyzvalo Poslaneckou sněmovnu, aby pomohla s odkoupením bytů OKD, které dle jejich názoru nebyly opravovány.',
  ['b',],
  '',
],
[
  'Leden 2009',
  'Žaloba na MF ze strany nájemníků Bytů OKD.',
  'Sdružení nájemníků bytů OKD podává 2 žaloby na Ministerstvo financí.',
  ['b',],
  '',
],
[
  '29.6.2009',
  'Výpověď části privatizační smlouvy',
  'Společnost RPG Industries SE vypovědělo Ministerstvu financí část privatizační smlouvy, v níž je zmíněn závazek na předkupní právo bytů jejich nájemníkům.',
  ['b',],
  'https://www.mfcr.cz/cs/aktualne/tiskove-zpravy/2009/2009-11-04-tiskova-zprava-5398-5398',
],
[
  'září 2009',
  'Sdružení nájemníků BytyOKD.cz podalo stížnost Evropské komisi',
  'Sdružení nájemníků BYTYOKD.CZ podalo stížnost Evropské komisi ve věci nedovolené veřejné podpory při prodeji majetkové účasti státu ve společnosti OKD a.s v roce 2004. Sdružení v této stížnost zdůrazňovalo s odkazem na nový znalecký posudek i na data ČSÚ, že majetek byl prodávan za mnohonásobně nižší hodnotu, než je hodnota tržní a tím došlo k porušení základních pravidel hospodářské soutěže. Stížnost obsahovala rovněž informace, že část prodávaného majetku nebyla vůbec ohodnocena.',
  ['b','v',],
  'http://www.bytyokd.cz/images/20100319_KauzaBYTYOKD.pdf',
],
[
  '4.11.2009',
  'Žaloba o určení neplatnosti výpovědi.',
  'Ministerstvo financí uvedlo, že považuje výpověď RPG Industries SE za neplatnou a podalo k Rozhodčímu soudu při Hospodářské komoře České republiky a Agrární komoře České republiky žalobu o určení neplatnosti výpovědi předkupního práva nájemníků bytů bývalých OKD',
  ['b',],
  'https://www.mfcr.cz/cs/aktualne/tiskove-zpravy/2009/2009-11-04-tiskova-zprava-5398-5398',
],
[
  'Prosinec 2009',
  'Usnesení Sněmovny',
  'Poslanecká sněmovna vydává usnesení, ve kterém konstatuje, že společnost RPG Industries porušila privatizační smlouvu z roku 2004. Zároveň vyzvala Poslaneckou sněmovnu k vydání předběžného opatření.',
  ['b',],
  '',
],
[
  '10.12.2009',
  'Návrh na předběžné opatření ze strany MF',
  'Ministerstvo financí podalo dne 10. 12. 2009 návrh na předběžné opatření proti nakládání s byty OKD, a to jak proti společnosti RPG Byty s.r.o. tak RPG INDUSTRIES SE.',
  ['b',],
  'https://www.mfcr.cz/cs/aktualne/tiskove-zpravy/2009/2009-12-17-tiskova-zprava-5384-5384',
],
[
  '17.12.2009',
  'Předběžné opatření soudu',
  'Obvodní soud pro Prahu 1 vydal předběžné opatření proti nakládání s byty ve vztahu ke společnosti RPG Byty, s.r.o.',
  ['b',],
  'https://www.mfcr.cz/cs/aktualne/tiskove-zpravy/2009/2009-12-17-tiskova-zprava-5384-5384',
],
[
  '4.3.2010',
  'Zdeněk Bakala opět popřel svůj slib',
  'Během soudního řízení, ve kterém Zdeněk Bakala žaloval tehdejšího místopředsedu ČSSD Lubomíra Zaorálka kvůli tomu, že ho nazval “gaunerem” mimo jiné popřel, že původně plánoval prodat byty OKD jejich nájemcům. Sdělil: „Žádný slib nikdy učiněn nebyl, ani mnou ani nikým jiným z naší skupiny. Je to účelová dezinformace a dezinterpretace našich vyjádření, které jsme v minulosti učinili a je to organizováno skupinou pana Zaorálka. Proti tomu budeme bojovat všemi dostupnými prostředky.“',
  ['b','v',],
  'https://www.novinky.cz/krimi/193802-bakala-u-soudu-prodej-byvalych-bytu-okd-jsem-nikdy-neslibil.html',
],
[
  '20.9.2010',
  'ÚS zamítl stížnost RPG Industries',
  'Ústavní soud odmítl stížnost společností RPG Industries a její dceřiné firmy RPG Byty proti části usnesení Poslanecké sněmovny v kauze bývalých bytů OKD. Poslanci totiž vládě doporučili podat návrh na předběžné opatření, jež by znemožnilo společnostem nakládat s byty jiným způsobem, než je přednostně nabídnout nájemníkům k prodeji.',
  ['b',],
  '',
],
[
  '2010/2011',
  'Zvýšení cen nájemného v bytech OKD',
  'Vlastník bytů OKD prosadil podstatné zvýšení nájemného v bytech OKD o 15 až 38 procent. Plná většina nájemníků se zvýšením nájemného nakonec souhlasila, ovšem část nájemníků odmítla zvýšení nájmu přijmout. Mezi oběma stranami tak pokračovalo vyjednávání o aktuálních i budoucích cenách za nájemné.',
  ['b',],
  '',
],
[
  '2011',
  'Vyšetřování privatizace OKD.',
  'Protikorupční policie se na popud státního zastupitelství v Praze 1, které obdrželo dvě trestní oznámení, pustila do vyšetřování privatizace společnosti OKD, a.s. v roce 2004. Případ byl od počátku vyšetřován pro podezření z křivé výpovědi a nepravdivého znaleckého posudku, zneužívání pravomoci veřejného činitele, maření úkolu veřejného činitele, z nedbalosti či porušování povinnosti při správě cizího majetku.',
  ['v',],
  '',
],
[
  '13.7.2011',
  'Výsledek šetření Evropské komise',
  'Evropská komise vydala rozhodnutí, že prodej 45,88 % akcií OKD společnosti Karbon Invest v roce 2004 nepředstavoval státní podporu ve smyslu čl. 107 odst. 1 SFEU. Konkrétně Komise došla k závěru, že v rámci této privatizace stát postupoval stejně jako soukromý prodávající v tržní ekonomice. Nutno ovšem dodat, že Evropská komise vycházela mimo jiné z kontroverzních posudků, které se později staly předmětem vyšetřování, a proto později i připustila, že by své závěry mohla přehodnotit.',
  ['v',],
  'http://www.europarl.europa.eu/sides/getAllAnswers.do?reference=E-2014-004366&language=CS',
],
[
  '5.5.2014',
  'Vznik realitní skupiny Asental Group.',
  'Počátkem května 2014 vznikl koncern Asental Group - tedy skupina společnosti podrobená jednotnému řízení ze strany řídící osoby - Asental Land, s.r.o. (IČO: 27769143), která vznikla z RPG RE Land, s.r.o.. Stejně tak řada dalších společnosti vznikla z původních společností RPG.',
  ['m',],
  'https://or.justice.cz/ias/ui/rejstrik-firma.vysledky?subjektId=209047&typ=UPLNY',
],
[
  '17.6.2014',
  'Reakce Evropské komise na nová zjištění',
  'Evropská komise odpověděla europoslanci Hynku Fajmonovi, který se komise zeptal, zdali privatizace OKD, a.s. v letech 2004-2005 proběhla zákonným způsobem a zdali se nejednalo o nedovolenou veřejnou podporu s negativním dopady na evropský trh. Evropská komise zopakovala svoje původní rozhodnutí z roku 2011, nicméně připustila jeho přehodnocení s ohledem na věrohodnost odborných posudků.',
  ['v',],
  'http://www.europarl.europa.eu/sides/getAllAnswers.do?reference=E-2014-004366&language=CS',
],
[
  '6.8.2015',
  'Nový majitel bytů OKD',
  'Společnost Round Hill Capital oznámila v médiích, že koupila od miliardáře Zdeňka Bakaly Byty OKD. Tato společnost již vlastnila bytové fondy například v Německu či Velké Británii. Brzy se ovšem ukáže, že Byty OKD nakonec ovládá především jiná americká společnost.',
  ['b',],
  'https://www.irozhlas.cz/regiony/desitky-tisic-byvalych-bytu-okd-na-ostravsku-kupuje-zahranicni-firma_201508061834_akottova',
],
[
  '1.9.2015',
  'ÚOHS zveřejnil, kdo ovládá Byty OKD.',
  'Úřad pro ochranu hospodářské soutěže (ÚOHS) prověřoval spojení společností Fondy Bydleni 2 S.à r.l. a RPG Byty, s. r. o. v souvislosti s prodejem Bytů OKD. Ve svém oznámení ÚOHS nepřímo uvedl, kdo je většinovým nabyvatelem a ovládající osobou společnosti RPG Byty, s.r.o. (později přejmenovaná na Residomo, s.r.o.) a RPG Služby (později Residomo služby, s.r.o.),, které k tomuto dni spravovaly Byty OKD. Poukázala na zásadní roli nikoliv společnosti Round Hill Capital, ale investiční společnosti Blackstone Group.',
  ['b','m',],
  'https://www.uohs.cz/cs/hospodarska-soutez/spojovani-soutezitelu/oznameni-o-pripravovanem-spojeni-soutezitelu/1992-oznameni-i-pripravovanem-spojeni-soutezitelu-fondy-bydleni-2-s%C3%A0-rl-rpg-byty-sro-a-rpg-sluzby-sro.html',
],
[
  '23.10.2015',
  'ÚOHS povolil spojení spojení společností v souvislosti s prodejem Bytů OKD',
  'ÚOHS povolil změnu vlastníka společnosti RPG Byty, která vlastní Byty OKD. Rozhodnutí se stalo pravomocné. RPG K Bytům OKD se sice hlásila lucemburská společnost Fondy Bydleni 2 S.à r.l., nicméně rozhodující vliv měla americká skupina Blackstone. Sdružení nájemníků BYTYOKD.CZ namítalo, že úřad nemohl tak rychle transakci prověřit.',
  ['b','m',],
  'https://www.uohs.cz/cs/hospodarska-soutez/sbirky-rozhodnuti/detail-13023.html',
],
[
  '9.5.2016',
  'Úpadek OKD, a.s.',
  'Krajský soud v Ostravě poslal těžební společnost OKD, a.s. do úpadku. Věřitelé dostali 2 měsíce na to, aby přihlásili své pohledávky.',
  ['',],
  'https://www.okd.cz/cs/o-nas/novinky/krajsky-soud-v-ostrave-rozhodl-o-upadku-okd?FfNewsItem_page=7',
],
[
  'srpen 2016',
  'Podání žaloby',
  'Společnost ARC equity services, a.s. tehdy ovládaná miliardářem Pavolem Krúpou podala žalobu na společnosti Residomo, s.r.o. a RPG Industries SE ve věci prodeje bývalých bytů OKD. Škoda měla vzniknout nájemníkům tím, že před prodejem Bytů OKD nedostali možnost odkoupit byty nejprve stávající nájemníci bytů. Žaloba se týkala modelového příkladu - 1 bytu.',
  ['b',],
  'https://hlidacipes.org/krupa-prohral-spor-v-kauze-prodeje-nekdejsich-bakalovych-bytu/',
],
[
  '24.8.2017',
  'Reorganizace OKD, a.s.',
  'Věřitelé společnosti OKD, a.s. schválili u Krajského soudu v Ostravě reorganizaci této společnosti. Rozhodující vliv by měl získat stát prostřednictvím státního podniku Prisko.',
  ['m',],
  '',
],
[
  '19.10.2017',
  'OKD vyhrál soud proti Asental group',
  'Společnost Asental původně přihlásil do insolvenčního řízení OKD pohledávku ve výši 2 milion Kč, a jelikož insolvenční správce ji neuznal, tak Asental spor řešil soudní cestou. Soud nakonec dal zapravdu OKD. Hlavním argumentem Asentalu byl fakt, že OKD prováděl rekultivace (vyplývající ze zákona) na pozemcích, které vlastnil Asental a přitom neměl se společností Asental podepsanou platnou nájemní smlouvu.',
  ['m',],
  '20.10.2017, MF DNES, Asental neuspěl u soudu proti OKD',
],
[
  '12.12.22017',
  'Založení vyšetřovací komise OKD',
  'Poslanecká sněmovna zřídila Vyšetřovací komisi OKD usnesením ze dne 12.12.2017.',
  ['v',],
  'http://www.psp.cz/sqw/hp.sqw?k=7009',
],
[
  '17.4.2018',
  'Pátrání po vlastníkovi Bytů OKD',
  'Investigativní novinářka Eliška Hradílková analyzovala vlastnickou strukturu společnosti Residomo, s.r.o., která vlastnila téměř 44 tisíc Bytů OKD. Dne 17.4.2018 zveřejnila, že tato vlastnická struktura částečně končí u amerických společností Blackstone Group, Round Hill Capital a na Kajmanských ostrovech, kde skutečné vlastníky již nebylo možné kvůli garantované anonymitě dohledat.',
  ['b','m',],
  'https://hlidacipes.org/tajemstvi-vlastnictvi-byvalych-bytu-okd-stopy-miliardoveho-majetku-vedou-na-kajmanske-ostrovy/',
],
[
  '3.5.2018',
  'Převzetí akcií OKD, a.s. státním podnikem Prisko',
  'Novým majitelem společnosti OKD, a.s. se oficiálně stal státní podnik Prisko.',
  ['m',],
  '',
],
[
  '14.11.2018',
  'Nevyužití poslední šance k získání pochybně privatizovaného majetku OKD',
  'Na půdě Poslanecké sněmovny proběhlo hlasování o novele občanského zákoníku, která by o 5 let prodloužila dobu, během níž může soud vrátit nepoctivě nabytý majetek z období privatizace zpět státu. Tuto novelu představil poslanec Pirátů Lukáš Černohorský. Bohužel většina politických stran zabránila přijetí této novely.',
  ['b',],
  'https://www.pirati.cz/tiskove-zpravy/lhuta-pro-vydrzeni-pirati-prosazuji-5let-navic.html',
],
[
  '3.4.2019',
  'Majitel Bytů OKD představil své další plány',
  'Výkonný ředitel investiční společnosti Blackstone Group - Chad Pike - v rozhovoru pro Hospodářské noviny popsal, jaké má úmysly s Byty OKD. Vysvětlil, že tato společnost se snaží bytové fondy zhodnotit a následně je se ziskem prodat.V rozhovoru Chad Pike tvrdil, že do Bytů OKD již tato společnost údajně investovala 5 miliard Kč.',
  ['b',],
  'https://archiv.ihned.cz/c1-66547990-hotely-byty-a-firmy-jak-blackstone-group-vynaseji-fondy-urcene-pro-nakupy-celych-spolecnosti',
],
[
  '11.4.2019',
  'Zproštění obžaloby',
  'Odvolací Městský soud v Praze pravomocně zprostil obžaloby 3 osob v kauze privatizace OKD. Obžalobě čelili bývalí místopředsedové Fondu národního majetku Pavel Kuta a Jan Škurek a znalec Rudolf Doucha, který vypracoval posudek k ceně státního podílu v OKD.',
  ['v',],
  '',
],
[
  '16.4.2019',
  'Soud zamítl žalobu na náhradu škody kvůli nemožnosti odkoupení 1 bytu OKD.',
  'Okresní soud v Ostravě zamítl žalobu společnosti ARC equity services, a.s., v jejímž čele stál v době podání žaloby miliardář Pavol Krúpa, na společnosti Residomo, s.r.o. a RPG Industries SE ve věci prodeje bývalých bytů OKD. Žaloba byla podána v srpnu 2016 (viz. chronologie OKD). Žalobce oznámil, že se proti verdiktu odvolá. Soudkyně svůj výrok opřela o tvrzení, že předkupní právo (dle privatizační smlouvy) by vzniklo pouze v případě, že by Byty OKD byly prodávané jednotlivé, nicméně v tomto případě se prodala celá společnost vlastnící Byty OKD.',
  ['b',],
  'https://hlidacipes.org/krupa-prohral-spor-v-kauze-prodeje-nekdejsich-bakalovych-bytu/',
],
[
  '8.10.2019',
  'Představení závěrečné zprávy Vyšetřovací komise OKD.',
  'Vyšetřovací komise OKD uspořádala tiskovou konferenci, na které představila závěry svého vyšetřování a kroky, které budou následovat (například podání trestního oznámení).',
  ['v',],
  'https://www.pirati.cz/tiskove-zpravy/cernohorsky-komise-okd-to-na-exministry-i-bakalu.html',
],
] %}
<table class="okd-t{% for k in obj.3 %} kind-{{k}}{% endfor %}">
    <tr>
        <td class="date">{{ obj.0 }}</td>
        <td class="kind">
        {% for k in obj.3 %}<span class='kind-letter kind-{{k}}'>{{k}}</span>{% endfor %}
        </td>
        <td class="desc">{{ obj.1 }}</td>
    </tr>
    <tr class="detail">
        <td colspan="3">{{obj.2}}
        {% if obj.4 %}
        {% if obj.4.startswith('http') %}
        <a href="{{ obj.4}}" target="_blank" class="info-src">[zdroj]</a>
        {% else %}
        [zdroj: {{ obj.4 }}]
        {% endif %}
        {% endif %}
        </td>
    </tr>
</table>

{% endfor %}

<br/>

<p>Kauzu zpracovala i Česká televize v pořadu Reportéři ČT:

<div style="border: 0px none; height: 0px; margin: 0px; overflow: hidden; padding: 0px 0px 56.25%; position: relative;">
<a href="https://www.ceskatelevize.cz/ivysilani/1142743803-reporteri-ct/219452801240029/obsah/723470-okd-znovu" target="_blank">
<img src="/static/img/reporteri-ct-1.jpg" onmouseover="this.src='/static/img/reporteri-ct-2.jpg'" onmouseout="this.src='/static/img/reporteri-ct-1.jpg'" style="width:100%; cursor: pointer;">
</a>
</div>

<br/>

{#
  B 'Kauza Bytů OKD',
  M 'Majetkové a vlivové poměry OKD',
  V 'Vyšetřování a posuzování kauzy OKD',
#}


<script>
$('#okd-kind-b').on("change", function(e){
    if( $(this).prop('checked') ){
        $('.okd-t.kind-b').show();
    } else {
        $('.okd-t.kind-b').hide();
    }
});
$('#okd-kind-m').on("change", function(e){
    if( $(this).prop('checked') ){
        $('.okd-t.kind-m').show();
    } else {
        $('.okd-t.kind-m').hide();
    }
});
$('#okd-kind-v').on("change", function(e){
    if( $(this).prop('checked') ){
        $('.okd-t.kind-v').show();
    } else {
        $('.okd-t.kind-v').hide();
    }
});
$('#okd-detail-all').on("change", function(e){
    if( $(this).prop('checked') ){
        $('.okd-t .detail').show();
    } else {
        $('.okd-t .detail').hide();
    }
});
$('.okd-t').on('click', function(e){
    $('.detail', $(this)).toggle();

});
</script>

{% endblock %}
